{% extends "base.html" %}
{% block title %}MC Ausbildungsplan{% endblock %}

{% block content %}

<p><img src="/static/banner.jpg" alt="Banner" /></p>

<h1>MC Ausbildungsplan</h1>

<p>
Wähle das Semester für eine Vorauswahl benötigter Skills:
</p>

<p>&nbsp;</p>

<p><a href="semester/1">Semester I</a></p>
<p><a href="semester/1">Semester II</a></p>
<p><a href="semester/1">Semester III</a></p>
<p><a href="semester/1">Semester IV</a></p>
<p><a href="semester/1">Semester V</a></p>
<p><a href="semester/1">Semester VI</a></p>

{% endblock %}
