<!DOCTYPE html>
<html>

<head>
<title>MC Ausbildungsplan</title>
<link rel="stylesheet" type="text/css" href="/static/bootstrap.css" media="screen" />
<style>
P { text-align: center }
IMG { text-align: center }
H1 { text-align: center }
</style>
</head>
<body>

<div class="container">


<h1>MC Ausbildungsplan</h1>

<p>
<img src="/static/banner.jpg" />
</p>

<p>&nbsp;</p>

<p>
Wähle das Semester für eine Vorauswahl benötigter Skills:
</p>

<p>&nbsp;</p>

<p>
<button type="button" class="btn btn-primary btn-lg">Semester I</button>
</p>

<p>
<button type="button" class="btn btn-primary btn-lg">Semester II</button>
</p>

<p>
<button type="button" class="btn btn-primary btn-lg">Semester III</button>
</p>


<p>
<button type="button" class="btn btn-primary btn-lg">Semester IV</button>
</p>

<p>
<button type="button" class="btn btn-primary btn-lg">Semester VI</button>
</p>

</div>
</body>
</html>
